
body {
 	margin: 2em;
}

div
{
	display:table-cell;
	opacity: 0.85;
	transition: opacity .25s ease-in-out;
}

div{
	  display:table-cell;
    font-family: Georgia, Garamond, serif;
    text-align:center;
    text-shadow: .5px .7px .7px #eee;
}

div:hover{ opacity: 1.0;}


#header
{
  font-size:72;
  font-style: normal;
  font-weight: 900;
  font-family:monospace;
  color:#02027d;
  clear:both;
  text-align:center;
  padding:10px;
  border-left:groove #228b22;

}
#inbody
{
    background-color:transparent;
    color:#001;
    padding:10px;
    text-align:center;
}

#footer
{
    background-color:#efe;
    color:#228b22;
    clear:both;
    text-align:center;
    padding:10px;
    font-size:26;
    font-style: oblique;
    font-weight: lighter;
    font-family:monospace;
    border: solid black;
}
a:link    {color:#228b22; background-color:transparent; text-decoration:none}
a:visited {color:gray; background-color:transparent; text-decoration:none}
a:hover   {color:#02027d; background-color:transparent; text-decoration:underline}
a:active  {color:#4169e1; background-color:transparent; text-decoration:underline}
